$color-light: #F7F8FB;
$color-success: #2CAF5F;
$color-error: #af2d21;
$bg-color-light: $color-light;
$title-color: #39424E;
$text-color: #637381;
$text-color-light: $color-light;
$text-color-dark: #040515;
$breakpoint-tablet: 768px;
